{% extends 'student/ind.html' %}
{% block body %}
<form action="/post_select" method="post"><center><p><table width="200" border="1" class="table table-bordered">
    <tr>
    <th scope="row">View Post</th>
    <td><select name="viewpost" id="viewpost" class="form-control">
             <option value ="representative">representative</option>
             <option value="union">union</option>

    </select></td>
  <td>
        <input type="submit" class="btn btn-success" value="GO"/>
    </td></tr>
</table></p></center><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Post Name</td>
    <td>Date</td>
    <td>Apply Last Date</td>
    <td>Election Date</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{ i['post_name'] }}</td>
    <td>{{ i['date'] }}</td>
    <td>&nbsp;{{ i['apply_last_date'] }}</td>
    <td>{{ i['election_date'] }}</td>
    <td><a href="/send_application/{{ i['post_id'] }}" class="btn btn-success">apply</a></td>
  </tr>
    {% endfor %}
</table></p></center>
</form>
{% endblock %}
