{% extends 'student/ind.html' %}
{% block body %}
<form action="" method="post">
    <center><p>
    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Candidate Name</td>
      <td>Post type</td>
      <td>Post name</td>
    <td>Cast Vote</td>
  </tr>
    {% for i in data %}
  <tr>

    <th scope="row">&nbsp;{{ loop.index }}</th>
    <td>{{ i['name'] }}</td>
      <td>{{ i['post_type'] }}</td>
        <td>{{ i['post_name'] }}</td>

    <td><a href="/vote/{{ i['candidate_id'] }}/{{ i['post_id'] }}">vote</a> </td>
  </tr>
    {% endfor %}
</table>
<br>
    <br>
    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.no</th>
    <td>Candidate Name</td>
      <td>Post type</td>
      <td>Post name</td>
    <td>Cast Vote</td>
  </tr>
    {% for i in data2 %}
  <tr>

    <th scope="row">&nbsp;{{ loop.index }}</th>
    <td>{{ i['name'] }}</td>
      <td>{{ i['post_type'] }}</td>
        <td>{{ i['post_name'] }}</td>

    <td><a href="/vote/{{ i['candidate_id'] }}/{{ i['post_id'] }}">vote</a> </td>
  </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
