{% extends 'student/ind.html' %}
{% block body %}
<form action="" method="post">
<table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row"><div align="left">photo:</div></th>
    <td><img src="/static/stu/{{ data['photo'] }}" height="150" width="150" alt=""/></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Name:</div></th>
    <td>{{ data['name'] }}</td>
  </tr>
    <tr>
    <th scope="row"><div align="left">DOB:</div></th>
    <td>{{ data['DOB'] }}</td>
  </tr>
    <tr>
    <th scope="row"><div align="left">Gender:</div></th>
    <td>{{ data['gender'] }}</td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Email-Id:</div></th>
    <td>&nbsp;{{ data['email'] }}</td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Department:</div></th>
    <td>{{ data['dept_name'] }}</td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Semester:</div></th>
    <td>{{ data['semester'] }}</td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Batch:</div></th>
    <td>&nbsp;{{ data['batch'] }}</td>
  </tr>
</table>
</form>
{% endblock %}
