{% extends 'student/ind.html' %}
{% block body %}
{#<table width="200" border="1">#}
{#  <tr>#}
{#    <th scope="row"><a href="/student_application">Application</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/student_election">Election</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/profile_view">Profile View</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/student_result">Result</a></th>#}
{#  </tr>#}
{#  <tr>#}
{#    <th scope="row"><a href="/logout">Logout</a></th>#}
{#  </tr>#}
{#</table>#}
{% endblock %}
