{% extends "stf/ind.html" %}
{% block body %}
<body>
{#<a href="/view_student_stf">View Student</a><br>#}
{#<a href="/register_post_stf">View Post</a><br>#}
{#<a href="/view_result_posts_stf">viewresult</a>#}
{#<a href="/">logout</a>#}

</body>
{% endblock %}