{% extends "stf/ind.html" %}
{% block body %}
<form action="" method="get"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">SI.No</th>
      <td>Photo</td>
    <td>Candidate Name</td>
    <td>Post Name</td>
    <td>Date</td>

  </tr>

    <tr>
         {% for i in data %}
        <td >{{ loop.index }} </td>
             <td><img src="/static/stu/{{ i['photo'] }}" height="150" width="150" alt=""/></td>
        <td> {{ i['name'] }}</td>
        <td> {{ i['post_name'] }}</td>
        <td> {{ i['date'] }}</td>

    </tr>
    {% endfor %}
</table></p></center>
</form>
{% endblock %}
