{% extends "stf/ind.html" %}
{% block body %}
<form action="" method="post"><center><p><table width="200" border="1">
</table></p></center>
<center><p><table class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Candidate</td>
      <td>photo</td>
      <td>Post</td>
    <td>Total Vote</td>
  </tr>
    {% for i in data %}
  <tr>
    <th>{{ loop.index }}&nbsp;</th>
    <td>&nbsp;{{ i['name'] }}</td>
    <td><img src="/static/stu/{{ i['photo'] }}"  width="150" height="150"> </td>
    <td>&nbsp;{{ i['post_name'] }}</td>
  <td>{{ i['no_of_votes'] }}</td>
  </tr>
    {% endfor %}
</table></p></center>
</form>
{% endblock %}
