{% extends "stf/ind.html" %}
{% block body %}
<form action="" method="post"><center><p>

    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Student Name</td>
    <td>Batch</td>
      <td>Photo</td>
    <td>&nbsp;Sem</td>
      <td>Department</td>
  </tr>
    {% for i in data %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i['name'] }}</td>
        <td>{{ i['batch'] }}</td>
            <td><img src="/static/stu/{{ i['photo'] }}" height="150" width="150"></td>
            <td>{{ i['semester'] }}</td>
            <td>{{ i['dept_name'] }}</td>

{#    <td><p><a href="/edit_student/{{ i['student_id'] }}">edit</a></p>#}
{#      <p><a href="/del_student/{{ i['student_id'] }}">delete</a></p></td>#}


        </tr>
    {% endfor %}
</table></center></p>
</form>
{% endblock %}
