{% extends "admin/ind.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_add_dept">
 <center><p> <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">Department Name:</th>
      <td><input type="text" name="dept_name" id="dept_name"  class="form-control" required /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="add" type="submit" class="btn btn-success" value="ADD" />&nbsp;</td>
    </tr>
  </table></p></center>
</form>
{% endblock %}
