{% extends "admin/ind.html" %}
{% block body %}
<form action="/admin_add_post" method="post">
    <table>

    <tr>
    <th scope="row"><div align="left">Post Type:</div></th>
    <td><select name="post" id="posttype" required class="form-control">
        <option value="union">Union</option>
        <option value="representative">Representative</option>
    </select></td>
  </tr>


  <tr>
    <th scope="row"><div align="left">Post Name:</div></th>
    <td><input type="text" name="postname2" id="postname2" required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Date:</div></th>
    <td><input type="date" name="date" id="date" required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Last Date:</div></th>
    <td><input type="date" name="lastdate" id="lastdate" required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Election Date:</div></th>
    <td><input type="date" name="electiondate" id="electiondate" required class="form-control" /></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Department:</div></th>
    <td><select name="department" id="department" required class="form-control">
        {% for i in data %}
        <option value="{{ i['dept_id'] }}">{{ i['dept_name'] }}</option>
        {% endfor %}
    </select>
    </td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Semester:</div></th>
    <td><select name="sem" id="sem" required class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
    </select></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Batch:</div></th>
    <td><select name="batch" id="batch" class="form-control" required>
        <option value="" selected disabled >Select</option>
          <option value="A">A</option>
          <option value="B">B</option>
    </select></td>
  </tr>
  <tr>
    <td colspan="2" align="center"><input name="add" type="submit"  class="btn btn-success" value="ADD" />&nbsp;</td>
  </tr>

    </table></center></p></center>
</form>
{% endblock %}
