{% extends "admin/ind.html" %}
{% block body %}
<table width="200" border="1">
<!--  <tr>-->
<!--    <th scope="row"><a href="/add_dept">Add Department</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/add_student">Add Student</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/add_post">Add Post</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/register_post">Register Post</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/admin_result">Result</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/view_dept">View Department</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/view_student">View Student</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/view_candidate">View Candidate</a></th>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <th scope="row"><a href="/logout">Logout</a>&nbsp;</th>-->
<!--  </tr>-->
</table></p></center>
{% endblock %}
