{% extends "admin/ind.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_add_crs">
 <center><p> <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">Couse Name:</th>
      <td><input type="text" name="cname" id="cname"  class="form-control" required /></td>
    </tr>
     <tr>
         <th>Department</th>
         <td>
         <select name="did" id="did">
             {% for i in res %}
             <option value="{{ i['dept_id'] }}">{{ i['dept_name'] }}</option>
             {% endfor %}
</select>
         </td>
     </tr>
    <tr>
      <td colspan="2" align="center"><input name="add" type="submit" class="btn btn-success" value="ADD" />&nbsp;</td>
    </tr>
  </table></p></center>
</form>
{% endblock %}
