{% extends "admin/ind.html" %}
{% block body %}
<form action="/admin_update_staff" method="post" enctype="multipart/form-data">
<p><table  border="1" class="table table-bordered">
  <tr>
    <th scope="row"><div align="left">Name:</div></th>
    <td><input type="text" name="fname" id="fname"  class="form-control" value="{{ i['name'] }}" required/></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Photo:</div></th>
    <td><input type="file" name="photo" id="photo"  class="form-control"  required /></td>
  </tr>
<tr>
    <th scope="row"><div align="left">Gender:</div></th>
    {% if i['gender']=="male" %}
    <td><input type="radio" name="r1" id="r1" checked value="male" />Male
    <input type="radio" name="r1" id="r2" value="female"/>Female
    </td>
    {% else %}
    <td><input type="radio" name="r1" id="r1"  value="male" />Male
    <input type="radio" name="r1" id="r2"checked value="female"/>Female
    </td>
    {% endif %}

  </tr>
<tr>
    <th scope="row"><div align="left">DOB:</div></th>
    <td><input type="date" name="dob" id="dob"  class="form-control" required value="{{ i['DOB'] }}" /></td>
  </tr>

  <tr>
    <th scope="row"><div align="left">Department Name:</div></th>
    <td><select name="deptname" id="deptname" required class="form-control" >
        <option value="" disabled selected>Select</option>
        {% for i in data1 %}
        <option value="{{ i['dept_id'] }}">{{ i['dept_name'] }}</option>
        {% endfor %}
    </select></td>
  </tr>

  <tr>
    <th scope="row"><div align="left">Email-ID:</div></th>
    <td><input type="email" name="email" id="email" required class="form-control"value="{{ i['email'] }}" readonly  /></td>
  </tr>

  <tr>
    <td colspan="2" align="center"><input name="add" type="submit" class="btn btn-success" value="Update" />&nbsp;</td>
  </tr>

</table></p>
</form>
{% endblock %}
