{% extends "admin/ind.html" %}
{% block body %}
<form action="/admin_update_post" method="post"><p><center>
    <table class="table table-bordered">
  <tr>
    <th scope="row"><div align="left">Election Date:</div></th>
    <td><input type="date" name="electiondate" id="electiondate" required class="form-control" value="{{data['election_date']}}" /></td>
  </tr><tr>
        <th scope="row"><div align="left">Last Date:</div></th>
        <td><input type="date" name="applydate" id="applydate" required class="form-control" value="{{data['apply_last_date']}}"/></td>
        </tr>
  <tr>
    <td colspan="2" align="center"><input name="add" type="submit"  class="btn btn-success" value="UPDATE" />&nbsp;</td>
  </tr>

</table></center>
</form>
{% endblock %}