{% extends "admin/ind.html" %}
{% block body %}
<form id="form1" name="form1" method="post" action="/admin_update_dept">
 <center><p> <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row">Department Name:</th>
      <td><input type="text" name="dept_name" id="dept_name" required class="form-control" value="{{ data['dept_name'] }}" /></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input name="add" class="btn btn-success" type="submit" value="Update" />&nbsp;</td>
    </tr>
  </table>
     </p></center>
</form>
{% endblock %}
