{% extends "admin/ind.html" %}
{% block body %}
<form action="/admin_update_student" method="post">
<center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row"><div align="left">First Name:</div></th>
    <td><input type="text" name="fname" value="{{ data['name'] }}" id="fname" class="form-control" required /></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Department Name:</div></th>
    <td><select name="deptname" id="deptname" required class="form-control">
        {% for i in data1 %}
        <option value="{{ i['dept_id'] }}">{{ i['dept_name'] }}</option>
        {% endfor %}
    </select></td>
  </tr>
<tr>
    <th scope="row"><div align="left">Gender:</div></th>
    {% if data['gender']=="male" %}
    <td><input type="radio" name="r1" id="r1" checked value="male" />Male
    <input type="radio" name="r1" id="r2" value="female"/>Female
    </td>
    {% else %}
    <td><input type="radio" name="r1" id="r1"  value="male" />Male
    <input type="radio" name="r1" id="r2"checked value="female"/>Female
    </td>
    {% endif %}

  </tr>
  <tr>
    <th scope="row"><div align="left">Semester:</div></th>
    <td><select name="sem" id="sem" required class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>

    </select></td>
  </tr>
  <tr>
    <th scope="row"><div align="left">Batch:</div></th>
      <td><select name="batch" id="batch" required class="form-control">
          <option value="" disabled selected>Select</option>
          <option value="A">A</option>
          <option value="B">B</option>
    </select>
    </td>
  </tr>

  <tr>
    <td colspan="2" align="center"><input name="add" type="submit" class="btn btn-success" value="UPDATE" />&nbsp;</td>
  </tr>
</table></p>
</center></form>
{% endblock %}
