{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="post"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">Post Name</th>
    <td>Date</td>
    <td>Last Date</td>
    <td>Election Date</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <td> {{ i['post_name'] }}</td>
    <td>{{ i['date'] }}</td>
    <td>{{ i['apply_last_date'] }}</td>
      <td>{{ i['election_date'] }}</td>
      <td>
{#    <td><p><a href="/edit_post/{{ i['post_id'] }}" class="btn btn-primary">edit</a></p>#}
      <p><a href="/del_post/{{ i['post_id'] }}" class="btn btn-danger">Remove</a></p></td>
  </tr>
    {% endfor %}
</table></p></center>
</form>
{% endblock %}
