{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="post"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">Post</th>
    <td><select name="post" id="post" required class="form-control">
    </select></td>
  </tr>
</table></p></center><center><p><table width="200" border="1">
  <tr>
    <th scope="row">SI.No</th>
    <td>Candidate Name</td>
    <td>Vote</td>
    <td>Status</td>
  </tr>
  <tr>
    <th scope="row">&nbsp;</th>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
</p></center>
</form>
{% endblock %}
