{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="get"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">SI.No</th>
      <td>Post</td>
  </tr>

    <tr>
         {% for i in data %}
        <td >{{ loop.index }} </td>
             <td>{{ i['post_name'] }}</td>
             <td><a href="/publish_candidate/{{ i['post_id'] }}">Publish</a> </td>
    </tr>
    {% endfor %}
</table></p></center>
</form>
{% endblock %}
