{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="post"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Department Name</td>
    <td>&nbsp;</td>
{#      <td>&nbsp;</td>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['dept_name'] }}</td>
    <td><a href="/edit_dept/{{ i['dept_id'] }}">edit</a><br><a href="/delete_dept/{{i['dept_id'] }}">delete</a> </td>
{#      <td><a href="">delete</a></td>#}
  </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
