{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="post"><center><p><table width="200" border="1" class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Course</td>
    <td>Department&nbsp;</td>
      <td></td>
{#      <td>&nbsp;</td>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['cname'] }}</td>
      <td>{{ i['dept_name'] }}</td>
    <td><a href="/edit_crs/{{ i['cid'] }}">edit</a><br><a href="/delete_crs/{{i['cid'] }}">delete</a> </td>
{#      <td><a href="">delete</a></td>#}
  </tr>
    {% endfor %}
</table>
</form>
{% endblock %}
