{% extends "admin/ind.html" %}
{% block body %}
<form action="" method="post">

    <table class="table table-bordered">
  <tr>
    <th scope="row">Sl.No</th>
    <td>Staff Name</td>
    <td>gender</td>
      <td>Photo</td>
    <td>&nbsp;Department</td>
  </tr>
    {% for i in data %}
        <tr>
        <td>{{ loop.index }}</td>
        <td>{{ i['name'] }}</td>
        <td>{{ i['gender'] }}</td>
            <td><img src="/static/{{ i['photo'] }}" height="150" width="150"></td>
            <td>{{ i['dept_name'] }}</td>



        <td><a href="/edit_staff/{{ i['sid'] }}">edit</a><br><a href="/delete_staff/{{i['sid'] }}">delete</a> </td>
        </tr>
    {% endfor %}
</table></center></p>
</form>
{% endblock %}
