{% extends 'student/studenttemp.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/very_scrt_pst">
  <table width="200" border="1">
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Enter screte key</td>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield"  /></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="ok" /></td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
{% endblock %}